@charset "utf-8";


#main-header {
	width: 100%;
	height: 65px;
    background-color: #333444;
}

#main-header .container {
	position: fixed;
	width: 100%;
	height: 65px;
	left: 0px;
	top: 0px;
	background-color: #333444;
	z-index: 1100;
}

#main-header .content {
	height: 100%;
	max-width: 1200px;
    color: #fff;
    margin: 0px auto;
}

#main-header .logo {
	display: inline-block;
	width: 100px;
	height: 100%;
	background-image: url(/image/logo2.png);
	background-repeat: no-repeat;
	background-size: 80px;
	background-position: 6px center;
}

#main-header .topmenu {
	position: absolute;
	top: 20px;
	right: 10px;
	background-repeat: no-repeat;
	background-position: center;
	outline: none;
}

#main-header .menus {
	font-size: 20px;
}

#main-header .menu {
	display: inline-block;
	line-height: 28px;
	margin-left: 60px;
	opacity: 0.5;
}

#main-header .menu:first-child {
	margin-left: 0px;
}

#main-header .menu:hover {
	opacity: 1;
}

#main-header .menu.active {
	opacity: 1;
}

#main-header .menu:before {
	content: "";
	display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -3px;
    background-image: url(/image/menus.png);
    background-repeat: no-repeat;
    background-size: 20px;
    margin-right: 8px;
}

#main-header .menu.quickstart:before {
	background-position: 0px -60px;
}

#main-header .menu.documents:before {
	background-position: 0px -40px;
}

#main-header .menu.components:before {
	background-position: 0px -20px;
}

#main-header .menu.styles:before {
	background-position: 0px -80px;
}

#main-header .menu.apis:before {
	background-position: 0px 0px;
}


/***********************************************/
@media (min-width: 830px) and (max-width: 1000px) {
	body[device='pc'] #main-header .menus .menu {
		margin-left: 45px;
	}
}

/***********************************************/
@media screen and (max-width: 830px) {
	body[device='pc'] #main-header .topmenu {
		width: 40px;
	    height: 40px;
	    top: 12px;
	    background-image: url(/image/icons/a01_1.png);
	    background-size: 20px;
	    cursor: pointer;
	}

	body[device='pc'] #main-header .menus {
		display: none;
		position: absolute;
		width: 100px;
	    top: 40px;
	    right: 0px;
	    color: #333;
	    font-size: 16px;
	    border: 1px solid #ddd;
	    background-color: #fff;
	}

	body[device='pc'] #main-header .menu {
		display: block;
		line-height: 30px;
		padding: 0px 12px;
		margin-left: 0px;
	}

	body[device='pc'] #main-header .menu:before {
		display: none;
	}

	body[device='pc'] #main-header .topmenu:hover,
	body[device='pc'] #main-header .topmenu:focus {
		border: 1px solid #fff;
	}

	body[device='pc'] #main-header .menus:hover,
	body[device='pc'] #main-header .topmenu:focus .menus {
		display: block;
	}
}


/***********************************************/
body[device='app'] #main-header {
	height: 0.4rem;
}

body[device='app'] #main-header .container {
	height: 0.4rem;
}

body[device='app'] #main-header .logo {
	width: 1rem;
    background-size: 0.6rem;
    background-position: 0.1rem center;
}

body[device='app'] #main-header .topmenu {
	position: initial;
	display: inline-block;
	float: right;
	width: 0.4rem;
	height: 0.4rem;
	top: 0px;
	right: 0px;
	background-image: url(/image/icons/a01_1.png);
	background-size: 0.15rem;
}

body[device='app'] #main-header .topmenu:focus {
	border: 0.01rem solid #fff;
}

body[device='app'] #main-header .menus {
	position: absolute;
	display: none;
	left: 0px;
	right: 0px;
	top: 0.4rem;
	font-size: 0.16rem;
	background-color: rgba(0, 0, 0, 0.85);
}

body[device='app'] #main-header .menus:hover,
body[device='app'] #main-header .topmenu:focus .menus {
	display: block;
}

body[device='app'] #main-header .menu {
	display: block;
	line-height: 0.4rem;
	margin-left: 0px
}

body[device='app'] #main-header .menu:before {
	display: none;
}

body[device='app'] #main-header .menu a {
	display: block;
	padding: 0px 0.2rem;
}

body[device='app'] #main-header .menu a:active {
	color: #000;
	background-color: #60e1ff;
}


