
#main-body {
    padding: 0.3rem 0px 0.5rem;
}

#main-body > .sidebox {
    display: none;
}

#main-body > .main-container {
    font-size: .16rem;
}

.comp-base code {
    font-size: 0.14rem;
    line-height: 0.22rem;
    border-radius: 0.03rem;
    padding: 0px 0.03rem;
    margin: 0px 0.02rem;
}

.comp-base > .compinfos .name {
    font-size: 0.2rem;
}

.comp-base > .compinfos .subname {
    font-size: 0.16rem;
    padding-left: 0.2rem;
}

.comp-base > .compinfos .subname:before {
    width: 0.04rem;
    height: 0.04rem;
    left: 0.07rem;
    top: 0.08rem;
}

.comp-base > .compinfos .title {
    margin-bottom: 0.1rem;
}

.comp-base > .compinfos .desc {
    margin-top: 0.1rem;
}

.comp-base > .example {
    margin-top: 0.4rem;
}

.comp-base > .example > .title {
    font-size: 0.18rem;
    line-height: 0.18rem;
    border-left-width: 0.05rem;
    padding-left: 0.05rem;
}

.comp-base > .example > .demo {
    border-width: 0.01rem;
    border-radius: 0.05rem;
    box-shadow: 0px 0.01rem 0.05rem 0px #eee;
    margin-top: 0.15rem;
}

.comp-base > .example > .desc {
    font-size: 0.14rem;
    padding-left: 0.1rem;
    margin-top: 0.1rem;
}

.comp-base > .example > .demo > .source {
    font-size: 0.13rem;
    padding-bottom: 0.22rem;
}

.comp-base > .example > .demo > .source > pre {
    padding: 0.1rem 0.15rem 0px;
}

.comp-base > .example > .demo > .source > .morebtn {
    height: 0.2rem;
    background-size: 0.08rem;
}

.comp-base > .example > .demo > .source > .morebtn:hover {
    background-size: 0.1rem;
}

.comp-base > .tableview {
    margin-top: 0.4rem;
    padding: 0.03rem;
}

.comp-base > .tableview > table {
    font-size: 0.13rem;
}

.comp-base > .tableview > table th {
    height: 0.36rem;
    padding: 0px 0.15rem;
}

.comp-base > .tableview > table td {
    padding: 0.05rem 0.15rem;
}

.comp-base > .tableview > table .name {
    font-size: 0.15rem;
}

.comp-base > .tableview > table .status {
    color: #f56969;
    font-size: 0.11rem;
}

.comp-base > .tableview > table .desc {
    margin-top: 0.05rem;
}

.comp-base > .tableview > .expandbtn {
    font-size: 0.12rem;
    line-height: 0.32rem;
}

.comp-base > .tableview.expand > table tr.extend {
    display: table-row;
}

.comp-base > .tableview.expand > .expandbtn {
    display: none;
}

#main-body > .main-container > .foot-guide {
    display: block;
    font-size: 0.14rem;
    text-align: center;
    margin-top: 0.35rem;
}

#main-body > .main-container > .foot-guide a {
    display: block;
    line-height: 0.5rem;
}


